body {
    background: skyblue;
}

.box {



    height: 22px;

}

.box-yellow {
    background: yellow;

    height: 22px;

}

.box-green {
    background: green;

    height: 22px;

}

.box-red {
    background: red;

    height: 22px;

}

.box-black {
    background: black;

    height: 22px;

}

.box-white {
    background: #fff;

    height: 22px;

}